@import 'nav';
@import url('https://fonts.googleapis.com/css?family=Lato');

@mixin flex-inline() {
	display: flex;
	justify-content: center;
	align-items: center;
}

@mixin flex-inline2() {
	display: flex;
	justify-content: flex-start;
}

@mixin flex-column1() {
	display: flex;
	flex-direction: column;
	justify-content: space-around;
	align-items: flex-start;
}

@mixin inputs() {
	width: 80%;
	padding: 0 1vw;
	background-color: inherit;
	font-size: 3vh;
	border: 0.1vh solid #000;
}

* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
	font-family: 'Lato', sans-serif;
	list-style-type: none;
	text-decoration: none;
}

main {
	min-height: 100vh;
	max-width: 100%;
	width: 100vw;
	background-color: grey;
}

.jumbotron {
	height: 90vh;
	width: 100%;
	@include flex-inline();
	background-color: #39c2db;
	.hide-show {
		height: 65%;
		width: 100%;
		@include flex-inline();
		background-color: #39c2db;
	}
	&__content {
		height: 100%;
		width: 100%;
		@include flex-inline2();
		align-items: center;
		.jumbContent {
			height: 35%;
			width: 45%;
			margin: 0 4vw;
			@include flex-column1();
			color: #fff;
			&__header {
				font-size: 5vh;
				letter-spacing: 0.3vw;
				text-transform: capitalize;
			}
			&__text {
				font-size: 2.5vh;
				line-height: 4vh;
				word-spacing: 0.3vw;
				letter-spacing: 0.1vw;
			}
		}
		.jumbImg {
			max-height: 80vh;
			max-width: 35vw;
			width: 40%;
		}
	}
}

.skills {
	min-height: 100vh;
	width: 100%;
	padding-top: 5vh;
	@include flex-inline();
	background-color: #fff;
	&__img {
		height: 60vh;
		width: 40%;
		margin: 0 2vw;
	}
	&__content {
		min-height: 72vh;
		width: 40%;
		margin: 0 2vw;
		@include flex-column1();
		&--header {
			font-size: 8vh;
			text-align: center;
		}
		&--text {
			color: #8e8a8a;
			font-size: 2.6vh;
			font-style: italic;
			text-align: left;
			word-spacing: 0.1vw;
			letter-spacing: 0.2vw;
		}
		&--gardient {
			height: 42vh;
			width: 100%;
			display: flex;
			flex-direction: column;
			justify-content: space-around;
			align-items: flex-start;
			.gardient {
				height: 8vh; 
				width: 100%;
				p {
					margin-bottom: 1vh;
					font-size: 2.6vh;
				}
				div {
					height: 2.5vh;
					width: 100%;
					border: 0.1vh solid #8e8a8a;
				}
				.gar-1 {
					 background: linear-gradient(to right, red 50%, white 50%);
				}
				.gar-2 {
					 background: linear-gradient(to right, red 80%, white 20%);
				}
				.gar-3 {
					 background: linear-gradient(to right, red 90%, white 10%);
				}
				.gar-4 {
					 background: linear-gradient(to right, red 55%, white 45%);
				}
			}
		}
	}
}

.services {
	height: 85vh;
	width: 100%;
	@include flex-inline2();
	align-items: center;
	background-color: #fff;
	&__content {
		height: 80%;
		width: 55%;
		margin-left: 10vw;
		padding-left: 5vw;
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: flex-start;
		background-color: #bec1dd;
		&--header {
			height: 15%;
			width: 60%;
			@include flex-column1();
			text-transform: capitalize;
			p {
				font-size: 3vh;
			}
			h2 {
				font-size: 7vh;
			}
		}
		&--text {
			width: 60%;
			margin: 7vh 0;
			@include flex-inline2();
			p {
				color: #8e8a8a;
				font-size: 2.5vh;
				font-style: italic;
				letter-spacing: 0.2vw;
			}
		}
		&--btn {
			min-width: 60%;
			@include flex-inline2();
			button {
				min-height: 6vh;
				min-width: 35%;
				padding: 1vh 2.5vw;
				background-color: #186ea0;
				color: #fff;
				font-size: 2.5vh;
				text-transform: capitalize;
				cursor: pointer;
				border: none;
				border-radius: 1vh;
				transition: 0.3s ease-in-out;
				&:hover {
					opacity: 0.6;
				}
			}
		}
	}
	&__items {
		height: 60%;
		width: 50%;
		position: absolute;
		left: 40%;
		@include flex-inline();
		flex-wrap: wrap;
		&--content {
			height: 40%;
			width: 34%;
			margin: 0 1vw;
			@include flex-inline();
			flex-direction: column;
			background-color: #F6F6F5;
			i {
				color: #ef944f;
				font-size: 8vh;
				text-align: center;
			}
			p {
				padding: 1vh 2vw;
				font-size: 2.5vh;
				text-align: center;
				letter-spacing: 0.2vw;
			}

		}
	}
}

.team {
	min-height: 100vh;
	width: 100%;
	@include flex-inline();
	flex-direction: column;
	background-color: #fff;
	&__header {
		min-height: 20vh;
		width: 100%;
		@include flex-inline();
		&--text {
			font-size: 8vh;
			text-align: center;
			letter-spacing: 0.1vw;
			text-transform: capitalize;
		}
	}
	&__info {
		min-height: 60vh;
		width: 90%;
		display: flex;
		justify-content: space-around;
		align-items: center;
		flex-wrap: wrap;
		&--item {
			min-height: 60vh;
			width: 23%;
			padding: 2vh 0;
			display: flex;
			flex-direction: column;
			justify-content: space-around;
			align-items: center;
			img {
				height: 55vh;
				width: 100%;
			}
			p {
				font-size: 4.5vh;
				text-align: center;
				letter-spacing: 0.1vw;
			}
			.team__social-media {
				width: 60%;
				display: flex;
				justify-content: space-around;
				align-items: center;
				button {
					height: 4vh;
					min-width: 20%;
					background-color: inherit;
					color: #000;
					font-size: 3vh;
					cursor: pointer;
					border: none;
					transition: 0.3 ease-in-out;
					&:hover {
						opacity: 0.5;
						transform: scale(1.3);
					}
				}
			}
		}
	}
}

.gallery {
	min-height: 100vh;
	width: 100%;
	@include flex-inline();
	flex-direction: column;
	background-color: #fff;
	&__header {
		height: 15vh;
		width: 80%;
		display: flex;
		justify-content: center;
		align-items: flex-start;
		color: #000;
		font-size: 6vh;
		text-transform: capitalize;
		h2 {
			text-align: center;
		}
	}
	&__img {
		min-height: 50vh;
		width: 80%;
		display: flex;
		justify-content: space-around;
		align-items: center;
		flex-wrap: wrap;
		&--item {
			height: 26vh;
			width: 22%;
			margin: 2vh 1vw;
		}
	}
}

.gif {
	position: relative;
	min-height: 70vh;
	width: 100%;
	margin: 7vh 0;
	@include flex-inline();
	flex-direction: column;
	&__img {
		position: absolute;
		min-height: 70vh;
		width: 100%;
		background-image: url('https://media0.giphy.com/media/3o8doTcGqhxe3E5zmE/giphy.gif');
		background-attachment: fixed;
		background-size: cover;
		background-position: center;
		filter: brightness(50%);
	}
	&__header {
		min-height: 24vh;
		width: 80%;
		display: flex;
		flex-direction: column;
		justify-content: space-around;
		align-items: center;
		color: #fff;
		text-align: center;
		&--title {
			font-size: 5vh;
			letter-spacing: 0.2vw;
			word-spacing: 0.1vw;
			text-transform: capitalize;
			filter: brightness(200%);
		}
		&--text {
			font-size: 3vh;
			letter-spacing: 0.15vw;
			filter: brightness(200%);
		}
	}
}

.contact {
	min-height: 90vh;
	width: 100%;
	@include flex-inline();
	background-color: #fff;
	&__info {
		height: 80vh;
		width: 45%;
		flex-direction: column;
		&--title {
			font-size: 7vh;
			text-align: center;
			text-transform: capitalize;
		}
		&--text {
			margin: 2vh 0;
			color: #999;
			font-size: 2.5vh;
			font-style: italic;
			text-align: left;
			line-height: 4vh;
			word-spacing: 0.2vw;
			letter-spacing: 0.2vw;
		}
		&--items {
			height: 20vh;
			width: 100%;
			display: flex;
			flex-direction: column;
			justify-content: space-around;
			align-items: flex-start;
			.contact-item {
				width: 90%;
				display: flex;
				justify-content: flex-start;
				align-items: center;
				text-align: left;
				i {
					padding-right: 2vw;
					font-size: 3vh;
				}
				p {
					font-size: 2.5vh;
				} 
			}
		}
	}
	&__input {
		min-height: 60vh;
		width: 45%;
		display: flex;
		flex-direction: column;
		justify-content: space-around;
		align-items: center;
		&--name {
			height: 7vh;
			@include inputs();
		}
		&--email {
			height: 7vh;
			@include inputs();
		}
		&--text {
			@include inputs();
			padding: 2vh 1vw;
		}
		&--btn {
			min-height: 6.5vh;
			min-width: 45%;
			padding: 1vh 2vw;
			background-color: inherit;
			font-size: 2.5vh;
			cursor: pointer;
			word-spacing: 0.2vw;
			letter-spacing: 0.2vw;
			text-transform: uppercase;
			border: 0.3vh solid #000;
			transition: 0.2s ease-in-out;
			&:hover {
				border: 0.3vh solid #7d86db;
			}
		}
	}
}

.footer {
	min-height: 60vh;
	width: 100%;
	@include flex-inline();
	background-color: #4b89bc;
	color: #fff;
	&__info {
		min-height: 45vh;
		width: 45%;
		display: flex;
		justify-content: space-around;
		align-items: center;
		flex-wrap: wrap;
		&--text {
			height: 20vh;
			width: 40%;
			display: flex;
			flex-direction: column;
			justify-content: space-around;
			align-items: center;
			h2 {
				font-size: 4.5vh;
			}
			p {
				font-size: 2.5vh;
				letter-spacing: 0.1vw;
				text-transform: capitalize;
			}
			.footer-item {
				width: 100%;
				@include flex-inline();
				i {
					padding-right: 1vw;
					color: #fff;
					font-size: 2vh;
				}
			}
		}
	}
	&__subscribe {
		min-height: 45vh;
		width: 45%;
		display: flex;
		flex-direction: column;
		justify-content: space-around;
		align-items: center;
		&--title {
			width: 80%;
			font-size: 4.5vh;
			text-transform: capitalize;
		}
		&--name {
			min-height: 7vh;
			width: 80%;
			padding: 1vh 1vw;
			background-color: inherit;
			color: #fff;
			font-size: 3vh;
			border: none;
			border-bottom: 0.2vh solid #fff;
		}
		&--email {
			min-height: 7vh;
			width: 80%;
			padding: 1vh 1vw;
			background-color: inherit;
			color: #fff;
			font-size: 3vh;
			border: none;
			border-bottom: 0.2vh solid #fff;
		}
		::placeholder {
			color: #fff;
		}
		&--btn {
			min-height: 6vh;
			min-width: 7.5vw;
			padding: 1vh 2vw;
			background-color: #2f3caa;
			color: #fff;
			font-size: 2.5vh;
			cursor: pointer;
			text-transform: uppercase;
			letter-spacing: 0.1vw;
			border: 0.3vh solid #fff;
			transition: 0.3s ease-in-out;
			&:hover {
				background-color: #fff;
				color: #2f3caa;
				border: 0.3vh solid #fff;
			}
		}
	}
}

@media (max-width: 750px) {
	.jumbotron {
		height: 75vh;
		&__content {
			.jumbContent {
				height: 95%;
			}
			.jumbImg {
				height: 35vh;
				max-width: 50vw;
				width: 45%;
			}
		}
	}
	.skills {
		min-height: 130vh;
		flex-direction: column;
		justify-content: space-around;
		&__img {
			height: 40vh;
			width: 50%;
		}	
		&__content {
			width: 70%;
		}
	}
	.services {
		flex-direction: column;
		justify-content: center;
		&__content {
			width: 70%;
			margin-left: 0;
			align-items: center;
		}
		&__items {
			height: 80%;
			width: 80%;
			position: relative;
			left: 0;
			bottom: 5%;
		}
	}
	.team {
		margin: 3vh 0;
		&__header {
		}
		&__info {
			&--item {
				width: 40%;
				.team__social-media {
					width: 100%;
				}
			}
		}
	}
	.gallery {
		&__header {
			height: 20vh;
			margin-top: 5vh;
			align-items: center;
		}
		&__img {
			&--item {
				width: 40%;
			}
		}
	}
	.gif {
		&__header {
			min-height: 30vh;
			width: 94%;
		}
	}
	.contact {
		flex-direction: column;
		justify-content: space-around;
		align-items: center;
		&__info {
			height: 50vh;
			width: 80%;
			&--text {
				text-align: center;
			}
			&--items {
				.contact-item {
					justify-content: center;
				}
			}
		}
		&__input {
			height: 60vh;
			width: 80%;
		}
	}
	.footer {
		flex-direction: column;
		justify-content: space-around;
		&__info {
			width: 80%;
			margin: 5vh 0;
		}
		&__subscribe {
			width: 80%;
			&--title {
				text-align: center;
			}
		}
	}
}

@media (max-width: 500px) {
	.jumbotron {
		min-height: 100vh;
		.hide-show {
			height: 100%;
		}
		&__content {
			flex-direction: column;
			justify-content: space-around;
			.jumbContent {
				height: 50%;
				width: 70%;
				text-align: center;
			}
			.jumbImg {
				height: 35vh;
				max-width: 100vw;
				width: 65%;
			}
		}
	}
	.skills {
		min-height: 140vh;
		&__img {
			height: 50vh;
			width: 75%;
		}	
		&__content {
			width: 90%;
		}
	}
	.services {
		height: 120vh;
		&__content {
			width: 85%;
			margin-left: 0;
			margin-top: 9vh;
			align-items: center;
		}
		&__items {
			width: 90%;
			left: 0;
		}
	}
	.team {
		&__info {
			&--item {
				width: 60%;
			}
		}
	}
	.contact {
		&__input {
			width: 94%;
		}
	}
}

@media (max-width: 400px) {
	.jumbotron {
		min-height: 120vh;
		&__content {
			.jumbContent {
				width: 75%;
			}
			.jumbImg {
				width: 75%;
			}
		}
	}
	.services {
		height: 140vh;
		&__items {
			&--content {
				width: 45%;
			}
		}
	}
	.gif {
		&__header {
			min-height: 40vh;
		}
	}
}